# Dictionary
* mapping data type
* syntax:
``` python
{
    key: value
}
```
* no duplicate key

# creating empty dictionary

In [1]:
about = {}

In [2]:
type(about)

dict

In [3]:
about = dict()

In [4]:
type(about)

dict

# adding key value pairs in dictionary

In [5]:
about = {}

In [6]:
# add key value pair

In [7]:
about['name'] = 'darshan'

In [8]:
about

{'name': 'darshan'}

In [9]:
# other way to add key value pair

In [10]:
about.update({'works at': "broadway"})

In [11]:
about

{'name': 'darshan', 'works at': 'broadway'}

In [12]:
about['teaches'] = {'python', 'data science', 'machine learning', 'AI', 'deep learning'}

In [13]:
about

{'name': 'darshan',
 'works at': 'broadway',
 'teaches': {'AI',
  'data science',
  'deep learning',
  'machine learning',
  'python'}}

In [14]:
about['age'] = 25

In [15]:
about

{'name': 'darshan',
 'works at': 'broadway',
 'teaches': {'AI',
  'data science',
  'deep learning',
  'machine learning',
  'python'},
 'age': 25}

# .update() method adds key value pair if key doesnt exist if the key exist it update the value

In [16]:
about.update({'name': 'darshan dahal'})

In [17]:
about

{'name': 'darshan dahal',
 'works at': 'broadway',
 'teaches': {'AI',
  'data science',
  'deep learning',
  'machine learning',
  'python'},
 'age': 25}

# creat a dictionary with key as country name and value as its capital

In [10]:
country = {
    'Nepal': 'Kathmandu',
    'India': 'New delhi',
    'china': 'Bejing'
}

In [11]:
country

{'Nepal': 'Kathmandu', 'India': 'New delhi', 'china': 'Bejing'}

In [14]:
country.update({'bhutan': 'thimpu'})

In [15]:
country

{'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'china': 'Bejing',
 'bhutan': 'thimpu'}

In [6]:
country['Pakistan'] = 'islamabad'

In [25]:
country

{'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'china': 'Bejing',
 'bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

In [26]:
# what are valid key

In [28]:
num = {
    1: 'one',
    2: 'two'
}

In [30]:
num # integer value can be key

{1: 'one', 2: 'two'}

In [33]:
num[3.4] = "three.four" # float value can be key

In [34]:
num

{1: 'one', 2: 'two', 3.4: 'three.four'}

In [35]:
# list touple cannot be key

In [36]:
# acessing values of a key

In [37]:
country = {'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'china': 'Bejing',
 'bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

In [38]:
country['Nepal']

'Kathmandu'

In [39]:
country.get('china')

'Bejing'

# what are my keys and values

In [42]:
country

{'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'china': 'Bejing',
 'bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

In [43]:
country.keys()

dict_keys(['Nepal', 'India', 'china', 'bhutan', 'Pakistan'])

In [44]:
list(country.keys())

['Nepal', 'India', 'china', 'bhutan', 'Pakistan']

In [45]:
country.values()

dict_values(['Kathmandu', 'New delhi', 'Bejing', 'thimpu', 'islamabad'])

In [46]:
list(country.values())

['Kathmandu', 'New delhi', 'Bejing', 'thimpu', 'islamabad']

In [47]:
country

{'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'china': 'Bejing',
 'bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

In [48]:
type(country.values())

dict_values

In [49]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New delhi'), ('china', 'Bejing'), ('bhutan', 'thimpu'), ('Pakistan', 'islamabad')])

# tuple unpacking

In [51]:
a, b = (3,4)

In [52]:
a

3

In [53]:
b

4

# loop in dictionary

In [54]:
country = {'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'china': 'Bejing',
 'bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

In [56]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New delhi'), ('china', 'Bejing'), ('bhutan', 'thimpu'), ('Pakistan', 'islamabad')])

In [57]:
for key, value in country.items():
    print(key)

Nepal
India
china
bhutan
Pakistan

In [58]:
for key, value in country.items():
    print(value)

Kathmandu
New delhi
Bejing
thimpu
islamabad

In [59]:
for key, value in country.items():
    print( f"your country is {key} and your capital city is {value}")

your country is Nepal and your capital city is Kathmandu
your country is India and your capital city is New delhi
your country is china and your capital city is Bejing
your country is bhutan and your capital city is thimpu
your country is Pakistan and your capital city is islamabad

# pop(key)

In [60]:
country = {'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'china': 'Bejing',
 'bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

In [61]:
country.pop('china')

'Bejing'

In [62]:
country

{'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

# Dictionary comprehension
* write a program to swap key value pairs from given dictionary

In [63]:
country = {'Nepal': 'Kathmandu',
 'India': 'New delhi',
 'china': 'Bejing',
 'bhutan': 'thimpu',
 'Pakistan': 'islamabad'}

In [65]:
{val: key for key, val in country.items()}

{'Kathmandu': 'Nepal',
 'New delhi': 'India',
 'Bejing': 'china',
 'thimpu': 'bhutan',
 'islamabad': 'Pakistan'}

# Nested dictionary

In [66]:
children = {
    "child1" : {"name" : "emil", "year" : 2004 },
    "child2" : {"name" : "tobias", "year" : 2007 },
    "child3" : {"name" : "linus", "year" : 2011 },
}

In [72]:
 for key, value in children.items():
        print(value.get("name"))

emil
tobias
linus

In [75]:
for key, value in children.items():
    child_name = value.get("name")
    print(child_name)

emil
tobias
linus

In [73]:
for key, value in children.items():
    
    print(value.get("year"))

2004
2007
2011