 # tuple:
 * collection of item under one variable
 * immutable
 * allows dulicate 
 * indexed 
 * round bracket, item seperated by commas

In [1]:
cars = ('audi', 'mercedies','BMW', 'tesla')

In [2]:
cars

('audi', 'mercedies', 'BMW', 'tesla')

# indexing and slicing

In [3]:
cars = ('audi', 'mercedies','BMW', 'tesla')

In [5]:
cars[1]

'mercedies'

In [6]:
cars[3]

'tesla'

In [7]:
cars[:3]

('audi', 'mercedies', 'BMW')

# loop in tuple

In [11]:
cars = ('audi', 'mercedies','BMW', 'tesla')

In [12]:
for index in range(len(cars)):
    car = cars[index]
    print(car)

audi
mercedies
BMW
tesla

In [13]:
for item in cars:
    print(item)

audi
mercedies
BMW
tesla

# tuples are immutable

In [14]:
cars = ('audi', 'mercedies','BMW', 'tesla')

In [17]:
cars[0] = 'tesla'

TypeError: 'tuple' object does not support item assignment

In [16]:
cars[0]

'audi'

# we cannot use list method in tuples

In [1]:
cars = ('audi', 'tesla', 'BMW')

In [2]:
cars.append('nano')

AttributeError: 'tuple' object has no attribute 'append'

# Type casting in tuple

In [13]:
cars = ('audi', 'tesla', 'BMW')

In [14]:
id(cars)

1534108312192

In [15]:
cars = list(cars) #type casting tuple into list

In [16]:
cars

['audi', 'tesla', 'BMW']

In [17]:
id(cars)

1534107902400

In [18]:
cars.append('mercedes')

In [19]:
cars

['audi', 'tesla', 'BMW', 'mercedes']

In [20]:
type(cars)

list

# Loops in tuple

In [21]:
data = (22,33,1,4,77,50,10)

In [28]:
total_sum = 0
for item in data:
    total_sum = total_sum + item
mean = total_sum / len(data)
print(mean)

28.142857142857142

In [29]:
total = 0
for index in range(len(data)):
    total = total + data[index]

mean = total / len(data)
print(mean)

28.142857142857142