# Variables names

## Python keywords cannot be variables names 
Pyhton keywords reserved words in python and we cannot use it as a variables.

In [1]:
False=2

SyntaxError: cannot assign to False (698318733.py, line 1)

In [2]:
flase = 2 #due to case sensitive reasons

### Python are case sensitive

case sensitive: upper case and lower case are dfferent: eg python
case insensitive: upper case and lower case are same: eg; SQL

## Numbers are allowed only after alphabitical character

In [3]:
sam1 = 2

In [4]:
1sam = 2

SyntaxError: invalid syntax (1414294843.py, line 1)

# Format() and F string

In [6]:
first_num = 50
print( f"the first number is {first_num}")

the first number is 50

In [7]:
a = 2
b = 5
total = a + b 
print( f"the sum of {a} and {b} is {total}")

the sum of 2 and 5 is 7