### Q.1 WAP to check weather the user given input integer is positive
###         or negative number. If positive, print positive else negative.

In [1]:
number = int(input("Enter a number:"))
if number >= 0:
    print("The given number is positive")
else:
    print("The given num is negative")

Enter a number:4
The given number is positive

### Q2. WAP to display '' Hello'' if a number entered by the user is a multiple of 5 otherwise print "Bye"

In [3]:
number = int(input("Enter a number:"))
if number % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number:6
Bye

### Q3. WAP to check whether a person is eligible for voting or not.

In [6]:
voter = int(input("Enter your age that is in your citizenship card:"))
if voter >= 18:
    print("Congratulation! You are eligible for voting ")
else:
    print(" Sorry! You are not eligible for voting")

Enter your age that is in your citizenship card:12
 Sorry! You are not eligible for voting

### Q4. WAP to check last digit of a number enter by user is divisible by 3 or not

In [5]:
number = int(input("Enter the required number "))
last_digit = int(repr(number)[-1])
if last_digit % 3 == 0:
    print("The last digit is divisible by 3")
else:
    print("The last digit is not divisible by 3")

Enter the required number 139
The last digit is divisible by 3

### Start python interpreter and use it as a calculator
* How many seconds are there in 42 minutes and 42 seconds?
* How many miles are there in 10 km? 1 mile = 1.609 km
* If you run a 10 km race in 42 min 42sec then what is your avg speed? speed = miles in min and miles in seconds

In [10]:
minutes = int(input("Enter the required minutes: "))
seconds = int(input("Enter seconds: "))
final_seconds = minutes * 60 + seconds
print( f"The total seconds = {final_seconds}")

Enter the required minutes: 42
Enter seconds: 42
The total seconds = 2562

In [9]:
km = int(input("Enter kilometer: "))
miles = km / 1.609
print( f"There are {miles} miles in {km} km.")

Enter kilometer: 10
There are 6.215040397762586 miles in 10 km.

In [13]:
speed_per_minutes = miles / minutes
speed_per_seconds = miles / final_seconds
print( f"speed per minutes = {speed_per_minutes}")
print( f"speed per seconds = {speed_per_seconds}")

speed per minutes = 0.1479771523276806
speed per seconds = 0.0024258549561914852

### Q5. The volume of a sphere with radius r is 4/3pie.r^3. Then what is the volume of a sphere whose redius is 5?

In [5]:
r = int(input("Enter the radius of sphere"))
PI = 3.14
volume = 4/3 * PI * r**3
print( f"The volume of sphere is {volume}")

Enter the radius of sphere5
The volume of sphere is 523.3333333333334

### check the last digit of a number.

In [9]:
num = int(input("enter a number"))
last_digit = num % 10

print(last_digit)

enter a number1234
4

# Q6. WAP to count vowel and consonants on the given string

In [ ]:
s = input("Enter any word or sentences: ")
vowel_count = 0
consonent_count = 0
for index in range(len(s)):
    letter = s[index]
    if letter == 'a' or letter == 'e' or letter == 'i' or letter == 'o' or letter == 'u':
        vowel_count = vowel_count + 1
    elif letter == " ":
        continue
    else:
        consonent_count = consonent_count + 1

print("Total vowel count: ", vowel_count)
print("Total consonent count: ", consonent_count)

# Q7. Using string malupation technique extract fruits name from text

In [52]:
txt = "I like Orange Apple Banana and Kiwi."
txt = txt.lower()

In [53]:
txt

'i like orange apple banana and kiwi.'

In [54]:
txt = txt.replace("i like", " ")

In [55]:
txt

'  orange apple banana and kiwi.'

# Q8. WAP to check if string2 is the rotation of string1 or not

In [41]:
string1 = penhengain
string2 = gainpenhen
for index in range(len(string1)):
    letter = string1[index]
    if string1[index] = len(string1)-1:
        print("the two string are in rotation")

SyntaxError: invalid syntax (54832677.py, line 5)

In [42]:
string1 = input()
string2 = input()
if len(string1)!= len(string2):
  print('Invalid rotation')
else:
  newstrn = string1+string2
  if string2 in newstrn:
    print('Valid Rotation')
  else:
    print('Invalid Rotation')

abcd
bacd
Valid Rotation

# Q9 write a program to find the square number between 1 to 15

In [9]:
for numbers in range(1,15):
    num = numbers**2
    print(num)

1
4
9
16
25
36
49
64
81
100
121
144
169
196

# Q10. write a program to find cube of a number between 1 to 15

In [20]:
for numbers in range(1,15):
    num = numbers**3
    print(num)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744

# Q11. write a program to store lower case value of given list

In [1]:
fruits = ["APPLE", "BANANA", "MANGO", "ORANGE"]

In [2]:
for i in range(len(fruits)):
    fruits[i] = fruits[i].lower()
print(fruits)

['apple', 'banana', 'mango', 'orange']

# Q.12 write a function to check if the given input number is prime or not if prime return True else return false

In [24]:
def is_prime(n):
  for i in range(2,n):
    if (n%i) == 0:
      return False
  return True

In [55]:
is_prime(n = 2)

In [50]:
is_prime(n=6)

False

In [3]:
def is_prime(n):
    if n == 1 or n == 2:
        return True
    else:
        for i in range(2, n):
            if n%i == 0:
                return False
                
            else:
                return True

In [4]:
is_prime(n=2)

True

# Q.13 Write a python function to calculate the factorial of a non negative integer

In [8]:
def factorial(n):
    fact = 1
    
    if n == 1 or n == 0:
        return( f"factorial of {n} is {fact}")
    else:
        for i in range(1, n + 1 ):
            fact = fact * i
        return( f"factorial of {n} is {fact}")

In [9]:
factorial(4)

'factorial of 4 is 24'

In [10]:
factorial(n=3)

'factorial of 3 is 6'

In [11]:
factorial(2)

'factorial of 2 is 2'

In [12]:
factorial(5)

'factorial of 5 is 120'

In [13]:
factorial(0)

'factorial of 0 is 1'

In [14]:
factorial(6)at takes list and returns a new list with unique elements of the first listÂ¶

'factorial of 6 is 720'

# Q14. write a python function that takes list and returns a new list with unique elements of the first list

In [106]:
def unique_list(l):
    new_list = []
    for items in l:
        if items not in new_list:
            new_list.append(items)
    return new_list

In [107]:
unique_list([1, 1, 1, 3, 3, 3, 3, 4])

[1, 3, 4]

In [108]:
unique_list([1,22,3,33,3,33,39,4444444])

[1, 22, 3, 33, 39, 4444444]

# Q.15 write a python function that accepts a string and calculate the number of uppercase letters and lower case letters.

In [19]:
def string_count(s):
    upper_case, lower_case = 0, 0
    for i in range(len(s)):
        if s[i].isupper():
            upper_case = upper_case + 1
        
        else:
            s[i].islower()
            lower_case = lower_case + 1
    return( f"The number of lowercase letter is {lower_case}")
    return( f"The number of uppercase letter is {upper_case}")

In [20]:
string_count('sssss  SSSSS')

'The number of lowercase letter is 7'

In [5]:
def count(s):
    lower=0
    upper=0
    for i in s:
        if i.islower():
            lower = lower + 1
        
        elif i == " ":
            continue
        elif i.isupper():
            upper = upper + 1
        else:
            pass
    return( f"The number of uppercase characters is {upper}")
    return( f"The number of lowercase characters is {lower}")

In [6]:
count('sssss  SSSSS')

'The number of uppercase characters is 5'

# Q.16 write a python program that accepts a hyphen separated sequence of words as input and print the words in a
# hyphen-seperated sequence after sorting them alphabetically.
   * sample items : green-red-yellow-black-white
   * expected result : black-green-red-white-yellow

In [21]:
text = 'green-red-yellow-black-white'

In [23]:
words = text.split("-")

In [24]:
words.sort()

In [25]:
words

['black', 'green', 'red', 'white', 'yellow']

In [26]:
"-".join(words)

'black-green-red-white-yellow'

In [27]:
def sort_text(text):
    words = text.split("-")
    words.sort()
    return "-".join(words)

In [29]:
sort_text('green-red-yellow-black-white')

'black-green-red-white-yellow'

# Q.17 Calculator
* Any no of input can be added
* Two numbers can be subtracted
* Calculates means of any number of input
* Squares the given number
* Identifies if the given number is odd or even

In [4]:
def add(*args):
    total = 0
    for item in args:
        total = total +item
    return total

In [6]:
add(1,2,3)

6

In [7]:
def sub(a, b):
    subtraction = a - b
    return subtraction

In [8]:
sub(3,2)

1

In [39]:
def mean(*numbers):
    sum_of_numbers = 0
    for item in numbers:
        sum_of_numbers = item + sum_of_numbers
    mean_value = sum_of_numbers / len(numbers)
    return mean_value

In [40]:
mean(1,1,2,2,3,3)

2.0

In [24]:
def number(n):
    if n%2 == 0:
        return("even")
    else:
        return("odd")

In [25]:
number(3)

'odd'

In [45]:
def add(*args):
    total = 0
    for item in args:
        total = total +item
    return total
def sub(a, b):
    subtraction = a - b
    return subtraction
def mean(*numbers):
    sum_of_numbers = 0
    for item in numbers:
        sum_of_numbers = item + sum_of_numbers
    mean_value = sum_of_numbers / len(numbers)
    return mean_value
def number(n):
    if n%2 == 0:
        return("even")
    else:
        return("odd")

In [46]:
add(1,2,3,4), sub(3,2)

(10, 1)

In [44]:
sub(3,2)

1

In [49]:
def sq(*n):
    for item in n:
        square = item ** 2
        print (square)

In [50]:
sq(2,3,4)

4
9
16