# List is collection of item under one variable name
* allows duplicate
* sequenced and ordered
* mutable
* supports multiple datatypes
* indexed
* in python list is created by placing elements inside [] bracket seperateed by comma

In [2]:
list1 = [True, 0.3, 4, 5, "hello"]

In [3]:
type(list1)

list

# indexing and slicing in python list

In [4]:
cars = ['audi', 'bentily', 'mercedes', 'rolls royace', 'bugati']

### Indexing

In [6]:
cars[0]

'audi'

In [8]:
cars[4]

'bugati'

In [11]:
### negative indexing

In [12]:
cars[-1]

'bugati'

In [13]:
cars[-3]

'mercedes'

# slicing

In [14]:
cars = ['audi', 'bentily', 'mercedes', 'rollsroyace', 'bugati', 'ferrari']

In [15]:
cars[0:2]

['audi', 'bentily']

In [20]:
cars[2:-3]

['mercedes']

In [17]:
cars[:3]

['audi', 'bentily', 'mercedes']

# loops in python list

In [24]:
cars = ['audi', 'bentily', 'mercedes', 'rolls royace', 'bugati', 'ferrari']

In [25]:
for index in range(len(cars)):
    words = cars[index]
    print( f"the index is {index} and word is {words}")

the index is 0 and word is audi
the index is 1 and word is bentily
the index is 2 and word is mercedes
the index is 3 and word is rolls royace
the index is 4 and word is bugati
the index is 5 and word is ferrari

In [28]:
for item in cars:
    print(item)

audi
bentily
mercedes
rolls royace
bugati
ferrari

In [29]:
# class work

In [37]:
nums = [23, 25, 20]

In [38]:
total = 0
for numbers in nums:
    total = total + numbers
mean = total/len(nums)
print(mean)

22.666666666666668

### Same as

In [2]:
nums = [23, 25, 20]
sums = 0
for numbers in range(len(nums)):
    sums = sums + numbers

mean = sums / len(nums)
print(mean)

1.0

In [4]:
nums = [23, 25, 20]
for numbers in range(len(nums)):
    print(numbers)

0
1
2