# SQL : Structured Query Languange
* is a standardized programming language that is used to manage relational databases and perform various operations on the data in them.

In [1]:
import sqlite3

# crearing and connecting to database
* DATABASE NAME : student

In [2]:
con = sqlite3.connect('student.db')

In [3]:
con

# create a cursor to execute sql query

In [7]:
cur = con.cursor()

# creat table in database  CREATE statement
``` sql
CREATE TABLE table name(column_name) datatype, column_name_2 datatype, ... column_name datatype


```

In [8]:
query = """
create table student_details
(roll_no int, name varchar(50), gender varchar(5))
"""

In [9]:
cur.execute(query)

OperationalError: table student_details already exists

# insert statement in sql
``` sql
INSERT INTO table_name (column_name_1, column_name_2 ..., column_name_n)
values
(value1, value2,... valuen)

```

In [10]:
insert_query = """
INSERT into student_details (roll_no, name, gender)
values
(1, 'darshan', 'M'),
(2, 'manjil', 'M'),
(3, 'saradhha', 'F'),
(4, 'kshitiz', 'M')
"""

In [11]:
cur.execute(insert_query)

# Select statement in SQL

In [12]:
cur.execute("select * from student_details")

In [13]:
cur.execute("select * from student_details").fetchall()

[(1, 'darshan', 'M'),
 (2, 'manjil', 'M'),
 (3, 'saradhha', 'F'),
 (4, 'kshitiz', 'M')]

In [14]:
 # find all data with F

In [15]:
query = """
select name from student_details
where gender = 'F'
"""

In [16]:
cur.execute(query).fetchall()

[('saradhha',)]

In [17]:
query = """
select name from student_details
where gender = 'M'
"""

In [18]:
cur.execute(query).fetchall()

[('darshan',), ('manjil',), ('kshitiz',)]

In [19]:
cur.execute("SELECT NAME FROM STUDENT_DETAILS WHERE GENDER = 'M'").fetchall()

[('darshan',), ('manjil',), ('kshitiz',)]

# update statement
``` sql
update intro table_name
set column_name = value
where column_name = <id>

```

In [20]:
update query = """
set name = 'darshan dahal'
where roll_no = 1;

SyntaxError: invalid syntax (4234030143.py, line 1)

# delete statement

In [21]:
cur.execute("delete from student_details where roll_no = 1")

In [22]:
cur.execute("select * from student_details").fetchall()

[(2, 'manjil', 'M'), (3, 'saradhha', 'F'), (4, 'kshitiz', 'M')]

# check multiple condition using where clause

In [23]:
query = """
select * from student_details
where
gender = 'M' and name like 'm%'
"""

In [24]:
cur.execute(query).fetchall()

[(2, 'manjil', 'M')]